.main {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 75%;
    max-width: 1080px;
    margin: auto;
    gap: 16px;
}

h3 {
    margin: 0;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none;
}

::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    min-width: 48px;
}

::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 36px;
}